<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'InternetRadio' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>30c9af2e-6da0-4733-93a0-de9a4c94f2ab</InstrumentationKey>
</ApplicationInsights>