    	.radioOn {
    		background:url('../img/radioOn.png');
    	}
    	.radioOff {
    		background:url('../img/radioOff.png');
    	}
    	.volumeButton {
    		background:url('../img/volume.png');
    	}
    	.muteButton {
    		background:url('../img/mute.png');
    	}
    	.prevButton {
    		background:url('../img/previous.png');
    	}
    	.nextButton {
    		background:url('../img/previous.png');
    		transform: rotate(180deg);
    	}
    	.valuePlaceholder {
    		visibility:hidden;
    	}
    	.radioButton {
			  cursor:pointer;
			  width: 32px;
				height: 32px;
				border: none;
				background-repeat: no-repeat;
			}
			.radioButton:hover {
			  opacity:0.4;
			  transition: opacity .2s ease-out;
			  -moz-transition: opacity .2s ease-out;
			  -webkit-transition: opacity .2s ease-out;
			  -o-transition: opacity .2s ease-out;
			}
